@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar1 .header{
    background: black;
}

.home {
    background-image: url(/images/Responsive\ background.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;

    
    
}


.logo{
    text-align: center;
    padding-top: 7%;
    
}

.logo img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 4px solid aqua;
    padding: 5px;
}


.name h1{
    font-family: 'Saira Condensed', sans-serif;
    text-align: center;
    padding-top: 6%;
    color: whitesmoke;
    font-size: 36px;
    letter-spacing: 30px;
}


.dis{
    font-family: 'Michroma', sans-serif;
    color: aqua;
    text-align: center;
    font-size: 17px;
    padding-top: 2%;
    word-spacing: 10px;
}

.down i{
    color: white;
    text-align: center;
    font-size: xx-large;
}

.down{
    text-align: center;
    padding-top: 5%;
}

.down i:hover{
    color: rgb(105, 105, 105);
    font-size: 40px;
}


.navbar1 .header .navbar-inverse .navbar-nav > li > a:hover{

    background-color:white;
    color: black;
}
.navbar1 .header .navbar-inverse .navbar-nav > li ul li a{
    background-color: black;
    color: white;
}
.navbar1 .header .navbar-inverse .navbar-nav > li ul li a:hover{
    background-color: white;
    color: black;
}

.faq_section{
  background-color: rgb(23, 23, 22);
}
.faq_section h2{
  color: aqua;
}


.cards1 .resourses_section{
  background: rgb(23, 23, 22);
}
.cards1 .resourses_section h2{
  color: aqua;
}
.cards2{
  background: rgb(23, 23, 22);
}
.cards2 .search_content ul li p{
  color: white;
}

/* ==============about============ */

.aboutsec{
  background:rgb(23, 23, 22) ;
}
.aboutsec h3{
  color: aqua;
}
.aboutsec p{
  color: white;
  font-size: 20px;
}

.aboutsec .btn{
  margin-top: 20px;
  background-color: white;
  color: black;
}
.aboutsec a .btn{
  font-size: 20px;
}


.aboutsec .btn:hover{
  background-color: aqua;
  color: black;
}

/* =============section01======== */

.section01{
  background:rgb(23, 23, 22) ;
}

.section01 h1{
  color: aqua;
}
.section01 p{
  color: white;
}
.section01 .cards01 h3{
  color:black;
}
.section01 .cards01 p{
  color: black;
  font-size: 15px;
}

.section01 .cards01 .btn-primary{
  background-color: black;
  color: white;
  border: 1px solid black;
}
.section01 .cards01 .btn-primary:hover{
  background-color: aqua;
  color: black;
}

.cards01{
  display: flex;
}

.cards01 .col-md-4{
  width: 100%;

}

.cards01 .row{
  margin-left: 0%;
  margin-right: 0%;
}


section .col-lg-4{
  margin-top: 5%;
}

/* ==========section02========= */

.sec02back{
  background:rgb(23, 23, 22) ;
  padding-top: 10%;

}

.section02head{
  width: 100%;
  text-align: center;
  margin-bottom: 2%;
}
.section02head h2{
  color: aqua;
}
.section02{
  display: flex;
  margin: 0% 10% 0% 10%;

  /* margin-left: 10%; */
  /* margin-bottom: 10%; */
  
}

.section02 .col-md-1{
  width: 100%;

}

/* =============section03====== */

.section03 {
  /* margin-top: 10%; */
  padding-top: 10%;
  background:rgb(23, 23, 22) ;
}
.section03 p{
  color: black;
  text-decoration: none;
}

.section03 a.resourses img{
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

/* =============section04=========== */

.section04{
  background:rgb(23, 23, 22) ;
  padding-bottom: 10%;
}

.section04 h2{
  color: aqua;
}

.section04 p{
  color: white;
}
.section04 i{
  color: white;
}
.section04 span i{
  color: white;
}

.section04 .small, small{
  color: white;
}
.section04 .container{
  padding-top: 10%;
}


/* ==================footer================== */

footer{
    /* height: 52vh;
    width: 100%;
    background-attachment: fixed; */
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(/brick.jpg);
  }

  .footersection{
    display: flex;
    flex-wrap: wrap;
    gap: 20%;
    margin-left: 5%;
  }
  
  .footersection h2{
    margin-top: 5%;
    color: aqua;
  }
  .footersection ul li{
    
    list-style: none;
    color: white;
    gap: 10%
  }
  .footersection ul li a{
   padding-left: 5px;
    font-size: 15px;
    text-decoration: none;
    color: white;
    gap: 10%
  }
  .footersection .back_to_top {
    padding-left: 15%;
  }

  .footersection .back_to_top p{
    
    color: white;
  }
  
  .foot{
    width: 100%;
    height: 50vh;
    background: rgba(0,0,0,.5);
    box-shadow: 0 15px 25px rgba(0,0,0,.6);      
    border-radius: 10px;
    padding: 5%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    /* transform: translateY(-10vh); */
  }
  
  .MA h2{
    font-family: 'Michroma', sans-serif;
    color: white;
    font-size: 20px;
    line-height: 8px;
    letter-spacing: 8px;
    text-align: center;
  
  }
  
  
  .footpara{
    font-family: 'Michroma', sans-serif;
    color: aqua;
    font-size: small;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 4%;
  }
  
  .addnum{
    width: 50%;
  }
  
  .addnum-social{
    display: flex;
    border-bottom: 1px solid rgb(65, 65, 65);
    padding-bottom: 2%;
  }
  
  .addnum i{
    font-size: 22px;
    color: aqua;
    padding-bottom: 20px;
  }
  
  .addnum{
    font-size: 15px;
    word-spacing: 4px;
    color: whitesmoke;
  
  }
  
  .social1{
    width: 100%;
    text-align: center;
  }
  
  
  .social1 a i{
    color: white;
    font-size: 35px;
    margin: 18px;
  }
  
  .social1 a i:hover{
    color: aqua;
  }
  
  
  .udruname{
    color: white;
    text-align: center;
    font-family: 'Michroma', sans-serif;
    font-size: small;
    word-spacing: 5px;
    padding-top: 25px;
    margin-left: 15%;
    margin-bottom: 3%;
  }
  
  .udruname span{
    font-size: large;
    font-family: 'Poppins', sans-serif;
    color: grey;
  }
  
  
